{% extends 'base.html.j2' %}

{% block head %}
  <link rel="stylesheet" href={{ static_url("css/error.css") }}>
  <title>Taskstack | Error 505</title>
{% endblock %}

{% block content %}
  <h1>Error 505</h1>
  <p>{{ lex["Internal Server Error"] }}</p>
{% endblock %}
