{% extends 'base_light.html.j2' %}

{% block head %}
    <script src={{ static_url("js/forgot_password.js") }}></script>
    <title>Taskstack | {{ lex["Forgot password"] }}</title>
{% endblock %}

{% block content %}
    <form class="boxForm" id="logInForm" onsubmit="return submitForgotPasswordForm();" action="{{ post_to }}" method="POST" autocomplete="off">
        <div class="loadingBarBox" id="loadingBarBox">
            <div class="loadingBar"></div>
        </div>
        <h1>{{ lex["Forgot password"] }}</h1>
        <section class="centerH">
            <div class="inputContainer">
                <input id="nameInput" type="text" name="name" value="" placeholder="&nbsp" autofocus autocomplete="off">
                <label for="name">{{ lex["Username or email"] }}</label>
            </div>
            <p class="errorText active" id="nameErrorText">{% if username_or_email_does_not_exist %}{{ lex["There is no account with this username/ email"] }}{% endif %}</p>
        </section>
        <section class="centerH">
            <p><a href="/login">{{ lex["Cancel"] }}</a></p>
            <div class="btnGroup">
                <button type="submit" style="margin-top: 18px;">{{ lex["Next"] }}</button>
            </div>
        </section>
    </form>
    <div class="loadingOverlay"></div>
{% endblock %}
