{% macro static_url(string) %}
  {# in production env srcs marked with this func will be replaced with their "taskstack-static" s3 bucket url (-> /tools/production_env_setup.py) #}
  "/static/{{string}}"
{% endmacro %}
<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ lex['Taskstack_desc'] }}">
    <meta ame="author" content="Julius Krahn">
    <meta name="viewport" content="width=device-width, initial-scale=1" id="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{ static_url("css/main.css") }} type="text/css">
    <link rel="stylesheet" href={{ static_url("css/project.css") }} type="text/css">
    <script src={{ static_url("js/detect_element_resize.min.js") }}></script>
    <script src={{ static_url("js/validation.js") }}></script>
    <script src={{ static_url("js/main.js") }}></script>
    <script>
      {% if current_user.is_authenticated() %}
      const currentUserId = {{ current_user.id }};
      const currentUserIsAuthenticated = true;
      {% else %}
      const currentUserId = null;
      const currentUserIsAuthenticated = false;
      {% endif %}
      const lang = "{{ lang }}";
      const lex = {{ lex }};
      const project = {{ project }};
      var currentUserIsOwner = false;
      var currentUserIsCollaborator = false;
      const currentUserRole = "{{ current_user_role }}";
      if (currentUserRole == "owner") {
        currentUserIsOwner = true;
      } else if (currentUserRole != "no-role") {
        currentUserIsCollaborator = true;
      }
      {% if invalid_names %} const invalidNames = {{ invalid_names }}; {% endif %}
      const msgsToFlash = {{ get_flashed_messages() }};
    </script>
    <script src={{ static_url("js/socketio.min.js") }}></script>
    <script src={{ static_url("js/he.min.js") }}></script>
    <script src={{ static_url("js/anchorme.min.js") }}></script>
    <script src={{ static_url("js/popper.min.js") }}></script>
    <link rel="stylesheet" href={{ static_url("css/tippy_light_border_theme.css") }} type="text/css">
    <script src={{ static_url("js/tippy_bundle.min.js") }}></script>
    <script src={{ static_url("js/sortable.min.js") }}></script>
    <script src={{ static_url("js/project/main.js") }}></script>
    <script src={{ static_url("js/project/page_elements_static.js") }}></script>
    <script src={{ static_url("js/project/list.js") }}></script>
    <script src={{ static_url("js/project/card.js") }}></script>
    <script src={{ static_url("js/project/page_elements_dynamic.js") }}></script>
    <script src={{ static_url("js/project/file_attachment.js") }}></script>
    <script src="https://kit.fontawesome.com/ba20bc93cc.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href={{ static_url("favicon.ico") }}>
    <title>Taskstack | {{project_name}}</title>
  </head>

  <body>

    <section id="top">
      <header id="headerNotLoggedIn">
        <a href="/" class="left">
          <picture class="logo">
            <source media="(min-width:500px)" srcset={{ static_url("img/logo.png") }} alt="Taskstack">
            <img class="logo" src={{ static_url("img/small_logo.png") }} alt="Taskstack">
          </picture>
          <div id="notificationsCount" {% if request.endpoint != "home" and request.endpoint != "chat_home" and request.endpoint != "chat" and notifications_count >= 1 %}class="active"{% endif %}>{% if request.endpoint != "home" and request.endpoint != "chat_home" and request.endpoint != "chat" %}{{ notifications_count }}{% endif %}</div>
        </a>
        {% if current_user.is_authenticated() %}
        <div class="right">
          <div id="account">
            <img id="currentUserProfilePic" src="{{ current_user.small_avatar_url }}" alt="{{ lex['Account'] }}">
            <div id="accountActions" class="modal small">
              <div class="title">{{ lex["Logged in as"] }} <span>{{ current_user.name }}</span></div>
              <hr>
              <div><a href="/{{ current_user.name }}">{{ lex["Your profile"] }}</a></div>
              <div><a href="/{{ current_user.name }}/settings">{{ lex["Settings"] }}</a></div>
              <div><form action="/logout" method="POST"><button type="submit">{{ lex["Logout"] }}</button></form></div>
              <hr>
              <div><a href="/">Home</a></div>
              <div><a href="/chat">Chat</a></div>
            </div>
          </div>
        {% else %}
        <div class="right notLoggedIn">
          <a class="linkBtn secondary" href="{{ login_url }}">{{ lex["Login"] }}</a>
        <a class="linkBtn" href="{{ signup_url }}">{{ lex["Signup"] }}</a>
        {% endif %}
        </div>
      </header>
      <section id="pageHead">
        <h1 id="projectName">{{ project_name }}</h1>
        <p id="projectDesc">{{ project_desc }}</p>
      </section>
      <div id="togglePageHead">
        <svg class="halfCircle" width="36" height="18">
          <circle r="18" cx="18" cy="0" />
        </svg> 
        <i id="hideIcon" class="fas fa-chevron-up active" onclick="PageHead.hide();"></i>
        <i id="showIcon" class="fas fa-chevron-down" onclick="PageHead.show();"></i>
      </div>
      <ul id="menuBar">
        <li id="projectMenu" class="menu">
          {{ lex["project_menu_title"] }}
          <ul>
            <li id="newListButton">{{ lex["New list"] }}</li>
            <li id="addFriendButton">{{ lex["Add a friend"] }}</li>
            <li id="invitePeopleWithLinkButton">{{ lex["Invite users with a link"] }}</li>
            <li id="collaboratorsButton">{{ lex["Collaborators"] }}</li>
            <li id="leaveProjectButton">{{ lex["Leave project"] }}</li>
            <li id="exitButton" class="menu-linkBtn"><a href="/">{{ lex["Exit"] }}</a></li>
          </ul>
        </li>
        <li id="viewMenu" class="menu">
          {{ lex["view_menu_title"] }}
          <ul>
            <!--<li id="filterCardsButton">{{ lex["Filter cards"] }}</li>-->
            <li>-</li>
          </ul>
        </li>
        <li id="settingsMenu" class="menu">
          {{ lex["settings_menu_title"] }}
          <ul>
            <li id="propertiesButton" class="subMenu">
              {{ lex["Project properties"] }}
              <ul>
                <li id="editProjectNameAndDescButton">{{ lex["Name & description"] }}</li>
                <li id="changeOwnerButton">{{ lex["Owner"] }}</li>
                <li id="visibilitySettingButton">{{ lex["Visibility for other users"] }}</li>
                <li id="chatGroupSettingButton">{{ lex["Chat group"] }}</li>
              </ul>
            </li>
            <li id="deleteProjectButton">{{ lex["Delete project"] }}</li>
          </ul>
        </li>
        <li id="historyMenu" class="menu">
          {{ lex["history_menu_title"] }}
          <ul>
            <li>-</li>
          </ul>
        </li>
        <li id="helpMenu" class="menu">
          {{ lex["help_menu_title"] }}
          <ul>
            <li class="menu-linkBtn"><a href="/guide">{{ lex["Taskstack basics"] }}</a></li>
          </ul>
        </li>
      </ul>
    </section>

    <section id="content">

        <section id="listsContainer"><div class="buffer"></div></section>

        <section class="smallModals">
          <div id="w-filterCardsWin" class="modal small">

          </div>
        </section>

    </section>

    <footer>
      <ul>
        <li>Copyright © 2020 <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC</a></li><li><a href="/privacy">{{ lex["Privacy"] }}</a></li><li><a href="/imprint">{{ lex["Imprint"] }}</a></li><li><a href="/help">{{ lex["Help"] }}</a></li>
        <li class="sDropMenuContainer">
          <div id="selectLang" class="sDropMenu up">
            <h5>{{ lex["Language"] }}</h5>
            <svg class="expandIcon" width="10" height="5">
              <polygon points="5,0 0,5 10,5" style="fill:#616163;">
            </svg>
            <ul>
              <li id="selectEn">English</li>
              <li id="selectDe">Deutsch</li>
            </ul>
          </div>
        </li>
        <li><a href="/contact">{{ lex["Contact"] }}</a></li>
      </ul>
    </footer>

    <section id="bannerMsgs"></section>

    <section id="tippyContainer"></section>

    <div class="modals">

      <div id="w-collabsWin" class="modal">
        <div class="loadingBarBox" id="collabsWinLoadingBarBox">
            <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["Project collaborators"] }}</h2>
        <section id="collabsSection" class="stretchBox">
            
        </section>
        <section class="btnGroup centerH">
          <button type="button" onclick="collabsWin.close();">{{ lex["Close"] }}</button>
        </section>
      </div>

      <div id="w-listWin" class="modal">
        <section class="head">
          <i class="fas fa-list listIcon"></i><h2 id="listWinName"></h2>
          <p id="listWinDesc"></p>
        </section>
        <section id="listWinFilesSection">
          <p class="explain">{{ lex["Attached files"] }}</p>
          <div id="listWinFiles" class="files"></div>
        </section>
        <section class="btnGroup centerH">
          <button type="button" onclick="listWin.close();">{{ lex["Close"] }}</button>
          {% if current_user_role == "owner" or current_user_role == "admin" %}<button type="button" class="new" onclick="editListWin.open(listWin.listId); listWin.close();">{{ lex["Edit"] }}</button>{% endif %}
        </section>
      </div>

      <div id="w-cardWin" class="modal">
        <section class="head">
          <i class="far fa-sticky-note cardIcon"></i><h2 id="cardWinName"></h2>
          <p id="cardWinDesc"></p>
        </section>
        <section id="cardWinMembersSection">
          <p class="explain">{{ lex["Members"] }}</p>
          <div id="cardWinMembersList" class="membersList"></div>
        </section>
        <section id="cardWinFilesSection">
          <p class="explain">{{ lex["Attached files"] }}</p>
          <div id="cardWinFiles" class="files"></div>
        </section>
        <section class="btnGroup centerH">
          <button type="button" onclick="cardWin.close();">{{ lex["Close"] }}</button>
          {% if current_user_role == "owner" or current_user_role == "admin" %}<button type="button" class="new" onclick="editCardWin.open(cardWin.cardId); cardWin.close();">{{ lex["Edit"] }}</button>{% endif %}
        </section>
      </div>

      {% if current_user_role == "owner" %}

      <div id="w-projectNameAndDescSettingWin" class="modal">
        <div class="loadingBarBox" id="projectNameAndDescSettingLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["Project name & description"] }}</h2>
        <section class="centerH">
          <div class="inputContainer">
            <input id="projectNameInput" type="text" name="projectName" value="" placeholder="&nbsp" autocomplete="off">
            <label for="projectName">{{ lex["Project name"] }}</label>
          </div>
          <p id="projectNameInputErrorText" class="errorText"></p>
          <p>{{ lex["You can use letters of the latin alphabet, numbers, dashes and underscores"] }}</p>
        </section>
        <section class="centerH">
          <div class="textareaContainer">
            <textarea id="projectDescInput" name="projectDesc" maxlength="128" value="" placeholder="&nbsp" rows="4" cols="32"></textarea>
            <label for="projectDesct">{{ lex["Project description (optional)"] }}</label>
          </div>
          <p id="projectDescInputErrorText" class="errorText"></p>
        </section>
        <section class="btnGroup centerH">
          <button type="button" onclick="projectNameAndDescSettingWin.submit();">{{ lex["Apply"] }}</button>
          <button type="button" class="secondary" onclick="projectNameAndDescSettingWin.close();">{{ lex["Cancel"] }}</button>
        </section>
      </div>

      <div id="w-changeOwnerWin" class="modal">
        <div class="loadingBarBox" id="changeOwnerLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["Transfer this project to another collaborator"] }}</h2>
        <section class="centerH">
          <div class="inputContainer">
            <input id="changeOwnerInput" type="text" name="changeOwnerInput" value="" placeholder="&nbsp" autocomplete="off">
            <label for="changeOwnerInput">{{ lex["Collaborator name/ email"] }}</label>
          </div>
          <p id="changeOwnerInputErrorText" class="errorText"></p>
        </section>
        <section class="btnGroup centerH">
          <button type="button" onclick="changeOwnerWin.submit();">{{ lex["Transfer"] }}</button>
          <button type="button" class="secondary" onclick="changeOwnerWin.close();">{{ lex["Cancel"] }}</button>
        </section>
      </div>

      <div id="w-visibilitySettingWin" class="modal">
        <div class="loadingBarBox" id="visibilitySettingLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["Set who can see your project"] }}</h2>
        <section>
          <div class="exclusiveCheckboxGroup">
            <div class="checkBoxContainer">
              <p>{{ lex["Everyone"] }}</p>
              <input id="visibilitySettingEveryoneButton" type="checkbox" class="checkBoxInput">
              <div class="checkBox"></div>
            </div>
            <div class="checkBoxContainer">
              <p>{{ lex["Friends"] }}</p>
              <input id="visibilitySettingFriendsButton" type="checkbox" class="checkBoxInput">
              <div class="checkBox"></div>
            </div>
            <div class="checkBoxContainer">
              <p>{{ lex["Private"] }}</p>
              <input id="visibilitySettingPrivateButton" type="checkbox" class="checkBoxInput">
              <div class="checkBox"></div>
            </div>
          </div>
        </section>
        <section class="btnGroup centerH">
          <button type="button" onclick="visibilitySettingWin.submit();">{{ lex["Apply"] }}</button>
          <button type="button" class="secondary" onclick="visibilitySettingWin.close();">{{ lex["Cancel"] }}</button>
        </section>
      </div>

      <div id="w-chatGroupSettingWin" class="modal">
        <div class="loadingBarBox" id="chatGroupSettingLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["Project Chat Group"] }}</h2>
        <section>
          <a onclick="chatGroupSettingWin.submit('activate');" id="activateChatGroupButton">{{ lex["Activate linked chat group"] }}</a>
          <a onclick="chatGroupSettingWin.submit('deactivate');" id="deactivateChatGroupButton">{{ lex["Deactivate the linked chat group"] }}</a>
        </section>
        <section class="btnGroup centerH">
          <button type="button" onclick="chatGroupSettingWin.close();">{{ lex["Close"] }}</button>
        </section>
      </div>

      <div id="w-addFriendToProjectWin" class="modal">
        <div class="loadingBarBox" id="addFriendToProjectLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["Add a friend"] }}</h2>
        <section class="centerH">
          <div class="inputContainer">
            <input id="addFriendToProjectInput" type="text" name="addFriendToProjectInput" value="" placeholder="&nbsp" autocomplete="off">
            <label for="addFriendToProjectInput">{{ lex["Friend name/ email"] }}</label>
          </div>
          <p id="addFriendToProjectInputErrorText" class="errorText"></p>
        </section>
        <div class="exclusiveCheckboxGroup">
          <div class="checkBoxContainer">
            <p>{{ lex["Add with the \"Access Only\" role"] }}</p>
            <input id="addFriendToProjectWithAccessOnlyRoleButton" type="checkbox" class="checkBoxInput">
            <div class="checkBox"></div>
          </div>
          <p class="explain">{{ lex["Users with the \"Access Only\" role aren't allowed to edit your project"]}}</p>
          <div class="checkBoxContainer">
            <p>{{ lex["Add as Admin"] }}</p>
            <input id="addFriendToProjectWithAdminRoleButton" type="checkbox" class="checkBoxInput">
            <div class="checkBox"></div>
          </div>
          <p class="explain">{{ lex["Admins can create, edit and move lists and cards"] }}</p>
        </div>
        <section class="btnGroup centerH">
          <button type="button" onclick="addFriendToProjectWin.submit();">{{ lex["Add"] }}</button>
          <button type="button" class="secondary" onclick="addFriendToProjectWin.close();">{{ lex["Cancel"] }}</button>
        </section>
      </div>

      <div id="w-invitePeopleWithLinkWin" class="modal">
        <h2>{{ lex["Invite users with a link"] }}</h2>
        <section>
          <p style="text-decoration: underline;">{{ lex["Share this link to <b>add users to this project with the \"Access Only\" role</b>"]}}</p>
          <p class="linkCopyField">{{ invite_link }}</p>
          <p class="explain">{{ lex["Users added with this link can only access your project, not edit it"] }} </p>
        </section>
        <section>
          <p style="text-decoration: underline;">{{ lex["Share this link to <b>add users as admins to this project</b>"]}}</p>
          <p class="linkCopyField">{{ invite_as_admin_link }}</p>
          <p class="explain">{{ lex["Admins can create, edit and move lists and cards"] }}</p>
        </section>
        <section class="btnGroup centerH">
          <button type="button" onclick="invitePeopleWithLinkWin.close();">{{ lex["Close"] }}</button>
        </section>
      </div>

      <div id="w-deleteProjectWin" class="modal">
        <div class="loadingBarBox" id="deleteProjectLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["Delete project"] }}</h2>
        <section class="warning centerH">
          {{ lex["Are you sure you want to delete this project permanently?"] }}
        </section>
        <section class="btnGroup centerH">
          <button type="button" class="delete" onclick="deleteProjectWin.submit();">{{ lex["Delete"] }}</button>
          <button type="button" class="secondary" onclick="deleteProjectWin.close();">{{ lex["Cancel"] }}</button>
        </section>
      </div>

      {% elif current_user_role != "no-role" %}

      <div id="w-leaveProjectWin" class="modal">
        <div class="loadingBarBox" id="leaveProjectLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["Leave project"] }}</h2>
        <section class="warning">
          {{ lex["Are you sure you want to leave this project?"] }}
        </section>
        <section class="btnGroup centerH">
          <button type="button" class="delete" onclick="leaveProjectWin.submit();">{{ lex["Leave"] }}</button>
          <button type="button" class="secondary" onclick="leaveProjectWin.close();">{{ lex["Cancel"] }}</button>
        </section>
      </div>

      {% endif %}

      {% if current_user_role == "owner" or current_user_role == "admin" %}

      <div id="w-newListWin" class="modal">
        <div class="loadingBarBox" id="newListLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["New list"] }}</h2>
        <section class="centerH">
          <div class="inputContainer">
            <input id="newListNameInput" type="text" name="listName" value="" placeholder="&nbsp" autocomplete="off">
            <label for="listName">{{ lex["List name"] }}</label>
          </div>
          <p id="newListNameInputErrorText" class="errorText"></p>
        </section>
        <section class="centerH">
          <div class="textareaContainer">
            <textarea id="newListDescInput" name="cardDesc" maxlength="1024" value="" placeholder="&nbsp" rows="4" cols="32"></textarea>
            <label for="cardDesc">{{ lex["List description (optional)"] }}</label>
          </div>
          <p id="newListDescInputErrorText" class="errorText"></p>
        </section>
        <section id="newListFileUploadBox" class="centerH fileUploadBox" ondrop="FileAttachment._processUploadBoxDropInput(event);" ondragover="FileAttachment._uploadBoxDragOverHandler(event);">
          <div class="files">
          </div>
          <div class="bottom">
            <input type="file" accept="*" onchange="FileAttachment._processUploadBoxInput(event);" multiple>
            <p>{{ lex["Attach files by dropping them here or selecting them."] }}</p>
          </div>
        </section>
        <p class="fileUploadBoxErrorText"></p>
        <section class="btnGroup centerH">
          <button type="button" class="new" onclick="newListWin.submit();">{{ lex["Add"] }}</button>
          <button type="button" class="secondary" onclick="newListWin.close();">{{ lex["Cancel"] }}</button>
        </section>
      </div>

      <div id="w-newCardWin" class="modal">
        <div class="loadingBarBox" id="newCardLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <h2>{{ lex["New card"] }}</h2>
        <section class="centerH">
          <div class="inputContainer">
            <input id="newCardNameInput" type="text" name="cardName" value="" placeholder="&nbsp" autocomplete="off">
            <label for="cardName">{{ lex["Card name"] }}</label>
          </div>
          <p id="newCardNameInputErrorText" class="errorText"></p>
        </section>
        <section class="centerH">
          <div class="textareaContainer">
            <textarea id="newCardDescInput" name="cardDesc" maxlength="1024" value="" placeholder="&nbsp" rows="4" cols="32"></textarea>
            <label for="cardDesc">{{ lex["Card description (optional)"] }}</label>
          </div>
          <p id="newCardDescInputErrorText" class="errorText"></p>
        </section>
        <section id="newCardFileUploadBox" class="centerH fileUploadBox" ondrop="FileAttachment._processUploadBoxDropInput(event);" ondragover="FileAttachment._uploadBoxDragOverHandler(event);">
          <div class="files">
          </div>
          <div class="bottom">
            <input type="file" accept="*" onchange="FileAttachment._processUploadBoxInput(event);" multiple>
            <p>{{ lex["Attach files by dropping them here or selecting them."] }}</p>
          </div>
        </section>
        <p class="fileUploadBoxErrorText"></p>
        <section class="membersBox">
          <div class="membersTitle">
            <p>{{ lex["Members"] }}</p>
            <div class="selectBaseBox" id="newCardWinMembersSelectBaseBox">{{ lex["Select"] }}</div>
          </div>
          <div id="newCardWinMembersList" class="membersList"></div>
        </section>
        <section class="btnGroup centerH">
          <button type="button" class="new" onclick="newCardWin.submit();">{{ lex["Add"] }}</button>
          <button type="button" class="secondary" onclick="newCardWin.close();">{{ lex["Cancel"] }}</button>
        </section>
      </div>

      <div id="w-editListWin" class="modal">
        <div class="loadingBarBox" id="editListLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <section class="head">
          <i class="fas fa-list listIcon"></i><h2 id="editListWinName"></h2>
        </section>
        <section class="centerH">
          <div class="inputContainer">
            <input id="editListNameInput" type="text" name="listName" value="" placeholder="&nbsp" autocomplete="off">
            <label for="listName">{{ lex["List name"] }}</label>
          </div>
          <p id="editListNameInputErrorText" class="errorText"></p>
        </section>
        <section class="centerH">
          <div class="textareaContainer">
            <textarea id="editListDescInput" name="listDesc" maxlength="1024" value="" placeholder="&nbsp" rows="4" cols="32"></textarea>
            <label for="listDesc">{{ lex["List description (optional)"] }}</label>
          </div>
          <p id="editListDescInputErrorText" class="errorText"></p>
        </section>
        <section id="editListFileUploadBox" class="centerH fileUploadBox" ondrop="FileAttachment._processUploadBoxDropInput(event);" ondragover="FileAttachment._uploadBoxDragOverHandler(event);">
          <div class="files">
          </div>
          <div class="bottom">
            <input type="file" accept="*" onchange="FileAttachment._processUploadBoxInput(event);" multiple>
            <p>{{ lex["Attach files by dropping them here or selecting them."] }}</p>
          </div>
        </section>
        <p class="fileUploadBoxErrorText"></p>
        <section class="btnGroup centerH">
          <button type="button" onclick="editListWin.submit();">{{ lex["Apply"] }}</button>
          <button type="button" class="secondary" onclick="editListWin.close(true);">{{ lex["Cancel"] }}</button>
          <button type="button" class="delete" onclick="editListWin.delete();">{{ lex["Delete list"] }}</button>
        </section>
      </div>

      <div id="w-editCardWin" class="modal">
        <div class="loadingBarBox" id="editCardLoadingBarBox">
          <div class="loadingBar"></div>
        </div>
        <section class="head">
          <i class="far fa-sticky-note cardIcon"></i><h2 id="editCardWinName"></h2>
        </section>
        <section class="centerH">
          <div class="inputContainer">
            <input id="editCardNameInput" type="text" name="cardName" value="" placeholder="&nbsp" autocomplete="off">
            <label for="cardName">{{ lex["Card name"]}}</label>
          </div>
          <p id="editCardNameInputErrorText" class="errorText"></p>
        </section>
        <section class="centerH">
          <div class="textareaContainer">
            <textarea id="editCardDescInput" name="cardDesc" maxlength="1024" value="" placeholder="&nbsp" rows="4" cols="32"></textarea>
            <label for="cardDesc">{{ lex["Card description (optional)"] }}</label>
          </div>
          <p id="editCardDescInputErrorText" class="errorText"></p>
        </section>
        <section id="editCardFileUploadBox" class="centerH fileUploadBox" ondrop="FileAttachment._processUploadBoxDropInput(event);" ondragover="FileAttachment._uploadBoxDragOverHandler(event);">
          <div class="files">
          </div>
          <div class="bottom">
            <input type="file" accept="*" onchange="FileAttachment._processUploadBoxInput(event);" multiple>
            <p>{{ lex["Attach files by dropping them here or selecting them."] }}</p>
          </div>
        </section>
        <p class="fileUploadBoxErrorText"></p>
        <section class="membersBox">
          <div class="membersTitle">
            <p>{{ lex["Members"] }}</p>
            <div class="selectBaseBox" id="editCardWinMembersSelectBaseBox">{{ lex["Select"] }}</div>
          </div>
          <div id="editCardWinMembersList" class="membersList"></div>
        </section>
        <section class="btnGroup centerH">
          <button type="button" onclick="editCardWin.submit();">{{ lex["Apply"] }}</button>
          <button type="button" class="secondary" onclick="editCardWin.close(true);">{{ lex["Cancel"] }}</button>
          <button type="button" class="delete" onclick="editCardWin._delete();">{{ lex["Delete card"] }}</button>
        </section>
      </div>

      {% endif %}

      <div id="disconnectModal" class="modal">
        <h2>{{ lex["Connection lost"] }}</h2>
        <p>{{ lex["Try reloading the page."] }}</p>
        <section class="btnGroup centerH">
          <a class="linkBtn" href="">{{ lex["Reload"] }}</a>
        </section>
      </div>

      <noscript class="modal active">
        <h2>Error</h2>
        <p>{{ lex["Make sure that"] }}</p>
        <ul class="standard">
          <li>{{ lex["your browser supports javascript"] }}</li>
          <li>{{ lex["javascript is enabled"] }}</li>
        </ul>
        <section class="btnGroup centerH">
          <a class="linkBtn" href="">{{ lex["Reload"] }}</a>
        </section>
      </noscript>
      <noscript><div class="overlay active"></div></noscript>

      <div class="overlay"></div>
      <div class="loadingOverlay"></div>
      <div class="overlay transparent"></div>

    </div>
    
  </body>
</html>