{% extends 'base_light.html.j2' %}

{% block head %}
  <script src={{ static_url("js/validation.js") }}></script>
  <script src={{ static_url("js/reset_password.js") }}></script>
  <title>Taskstack | {{ lex["Reset password"] }}</title>
{% endblock %}

{% block content %}
  <form class="boxForm" id="verifyEmailForm" onsubmit="return submitResetPasswordForm();" action="{{ post_to }}" method="POST" autocomplete="off" style="max-width:420px;">
    <div class="loadingBarBox" id="loadingBarBox">
        <div class="loadingBar"></div>
    </div>
    <h1>{{ lex["Reset password"] }}</h1>
    <section>
        <p>{{ lex["We have sent you an email. Please enter the code you have received from us below and set your new password."] }}</p>
    </section>
    <section class="centerH">
      <div class="inputContainer">
        <input id="code" type="text" name="code" placeholder="&nbsp" value="{{ code }}" autofocus>
        <label for="code">{{ lex["Your code"] }}</label>
      </div>
      <p class="errorText active" id="codeErrorText">{% if wrong_code %}{{ lex["Wrong code"] }}{% endif %}</p>
    </section>
    <section class="twoInputsNextToEachOther centerH">
      <div class="inputContainer">
        <input id="passwordInput" type="password" name="password" value="" placeholder="&nbsp">
        <label for="password">{{ lex["New password"] }}</label>
      </div>
      <div class="inputContainer">
        <input id="passwordConfirmInput" type="password" name="password_confirm" value="" placeholder="&nbsp">
        <label for="password_confirm">{{ lex["Confirm"] }}</label>
      </div>
      <p class="errorText active" id="passwordErrorText">{% if invalid_password %}{{ lex["Invalid password"] }}{% endif %}</p>
      <p style="clear: left; grid-area:d; margin-top:8px;">{{ lex["password_guide"] }}</p>
    </section>
    <div class="btnGroup">
        <button type="submit">{{ lex["Reset password"] }}</button>
    </div>
  </form>
{% endblock %}
