{% extends 'email/base.txt.j2' %}

{% block content %}
lex["Your code"] }}: 
    {{code}}

{{ link }}

{{ lex["You’re receiving this email because you recently requested a password reset. If this wasn't you, please ignore this email."] }}
{% endblock %}