{% extends 'email/base.html.j2' %}

{% block content %}
    {{ h(lex["Your email verification code"] + ": " + code) }}
    {{ btn(lex["Verify email address"], link) }}
    <p>
        {{ lex["Button not working? Paste the following URL into your browser"] }}: <br> 
        {{ a(link) }}
    </p>
{% endblock %}