/* body, top, header, content ...
============================================================================= */

body {
    min-width: 360px;
    overflow-x: auto;
}

#top {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    margin: 0;
    z-index: 50;
}

#content {
    padding: 0 !important;
    padding-top: calc(60px + 78.4px + 35px) !important;
    height: calc(100vh - 40px) !important;
    min-height: 420px !important;
}

#content.pageHeadHidden {
    padding-top: calc(60px + 35px) !important;
}
  
@media (max-width:640px) {
    #content {
        height: 100vh !important;
    }
}

body > section, #top > section, #content > section {
    padding: 16px 24px 10px 24px;
}

footer {
    margin-top: 0 !important;
}


/* page head
============================================================================= */

#pageHead {
    background-color: #fafbfc;
    height: 78.4px;
    cursor: default;
    position: relative;
    z-index: 30;
    border-bottom: 1px solid #e1e4e8;
}

#pageHead.hidden {
    display: none;
}

#pageHead h1 {
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 500;
    color: rgb(51,63,80);
    margin-bottom: 2px;
}

#pageHead p {
    font-style: italic;
    color: #616163;
}


/* toggle page head
============================================================================= */

#togglePageHead {
    opacity: 0 !important;
    transition: opacity .2s ease-out;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #e1e4e8;
    z-index: 40;
}

#togglePageHead:hover, #pageHead:hover ~ #togglePageHead, header:hover ~ #togglePageHead {
    opacity: 1 !important;
}

#togglePageHead .halfCircle {
    display: block;
    position: absolute;
    top: calc(100%);
    left: calc(50% - 18px);
    fill: #e1e4e8;
}

#togglePageHead #hideIcon, #togglePageHead #showIcon {
    display: none;
    position: absolute;
    top: calc(100% - 4px);
    font-size: 18px;
    color: #616163;
    text-align: center;
    left: calc(50% - 18px);
    width: 36px;
    padding: 2px 0;
}

body.onMobileDevice #togglePageHead .halfCircle, body.onMobileDevice #togglePageHead #hideIcon, body.onMobileDevice #togglePageHead #showIcon {
    left: unset;
    right: 4px;
}

#togglePageHead #hideIcon:hover, #togglePageHead #showIcon:hover {
    cursor: pointer;
}

#togglePageHead #hideIcon.active, #togglePageHead #showIcon.active {
    display: block;
}


/* menu bar
============================================================================= */

#menuBar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0 24px;
    z-index: 10;
    cursor: default;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
}

@media (max-width:500px) {
    #menuBar {
        padding: 0 18px;
    }
}

#menuBar .menu, #menuBar .subMenu {
    position: relative;
}

#menuBar .menu {
    color: #616163;
    padding: 7px 0 8px 0;
    margin-right: 12px;
    border-top: 3px solid transparent;
    transition: border .2s ease-in-out;
}

#menuBar .menu.reactToHover:hover, #menuBar .menu.active {
    border-top: 3px solid #E84855;
}

#menuBar .menu span {
    text-decoration: underline;
}

#menuBar .menu ul {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
    color: #616163 !important;
    width: auto;
    top: 100%;
    left: 0;
}

#menuBar .menu ul li.disabled {
    color: #BFC0C1 !important;
}

#menuBar .menu ul li:not(.menu-linkBtn) {
    padding: 4px 8px;
    white-space: nowrap;
}

#menuBar .menu ul li:not(.disabled):hover {
    background-color: #e1e4e8;
}

#menuBar .subMenu ul {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15);
    left: 100%;
    top: 0;
}

#menuBar .menu.reactToHover:hover > ul, #menuBar .menu.active > ul,
#menuBar .menu .subMenu.reactToHover:not(.disabled):hover > ul, #menuBar .menu .subMenu:not(.disabled).active > ul {
    display: block;
}

#menuBar .menu ul li {
    cursor: pointer;
}

#menuBar .menu ul li.disabled {
    cursor: default;
}

#menuBar li.menu-linkBtn a {
    padding: 4px 8px;
    white-space: nowrap;
    color: #616163;
    opacity: 1 !important;
    display: block;
}


/* list
============================================================================= */

#listsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    overflow: auto;
    padding: 32px 24px 64px 24px !important;
}

.list {
    border-radius: 2px;
    margin: 0 12px;
    width: 300px;
    box-shadow: 0 0 4px 1px rgba(10, 10, 10, .1);
    padding: 8px 12px;
    background-color: #fafbfc;
    cursor: default;
    flex-shrink: 0;
}

#listsContainer .list:first-child {
    margin-left: 0;
}

.list > .head {
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.list .head h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    flex-grow: 2;
}

.list .head .actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.list .head .actions .action {
    color: var(--dim-grey);
    cursor: pointer;
    padding: 2px;
    line-height: 18px;
    font-size: 16px;
}

.list .head .actions .action:first-child {
    margin-left: auto;
}

.list .head .actions .action:hover {
    opacity: .7;
}

.list.draggingGhost { 
    background-color: var(--dim-grey);
    opacity: .1;
}

.list.draggingGhost * {
    opacity: 0 !important;
}

.listDragHandle {
    color: #b7b7b7 !important;
}

 .list .cards {
    overflow-y: auto;
    margin: -4px -12px;
    padding: 4px 12px;
    min-height: 16px;
    overscroll-behavior: contain;
}

#listsContainer .buffer {
    height: 100%;
    width: 64px;
    flex-shrink: 0;
}


/* card 
============================================================================= */

.card {
    background-color: white;
    box-shadow: 0 0 3px 1px rgba(60, 60, 60, .1);
    padding: 8px;
    margin: 8px auto;
    cursor: default;
}

.card .head {
    margin-bottom: 6px;
}

.card .head h3 {
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
}

.card .bottom .actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.card .bottom .actions .action {
    color: var(--dim-grey);
    cursor: pointer;
    padding: 2px;
    line-height: 16px;
    font-size: 15px;
}

.card .bottom .actions .action:hover {
    opacity: .7;
}

.card.draggingGhost { 
    background-color: var(--dim-grey);
    opacity: .1;
}

.card.draggingGhost * {
    opacity: 0 !important;
}

.cardDragHandle {
    color: #d1d1d1 !important;
}

.card .bottom {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 4px;
    align-items: flex-start;
}

.card .bottom.membersListTooFull {
    display: block;
}

.card .membersList {
    justify-content: flex-end;
    flex-grow: 2;
}

.bottom.membersListTooFull .membersList {
    justify-content: unset;
}


/* (card:) added users
============================================================================= */

.membersList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 4px;
}

.membersList .member {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    margin: 4px 0;
}

.modal .membersBox {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.modal .membersBox .membersList {
    padding: 4px;
}

.modal .membersTitle {
    color: #616163;
    padding: 8px;
    border-bottom: 1px solid #cacaca;
    background-color: #fafbfc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: visible;
}

.modal .membersTitle > p {
    margin-right: 12px;
}


/* files
============================================================================= */

.files {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: auto;
    padding: 8px;
}

.tippy-box .files {
    padding: 4px 0;
}

.files .file {
    min-height: 57px;
    width: 64px;
    padding: 6px 4px 4px 4px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color .1s ease-in-out;
}

.files .file:not(:last-child) {
    margin-right: 2px;
}

.files .file .fileIcon {
    font-size: 32px;
    color: #F9DC5C;
    text-align: center;
    transition: color .2s ease;
}

.files .file p {
    display: block;
    font-size: 11px;
    color: #616163;
    margin: 0;
    padding: 4px 0 2px 0;
    text-align: center;
    line-height: 11px;
    transition: color .1s ease-in-out;
}

.files a.file:hover {
    background-color: #cce8ff;
}

.files a.file:hover .fileIcon, .files a.file:hover p {
    color: #1A73E8;
}

.files .file .fileIcon:hover {
    opacity: 1;
}


/* listWin/ cardWin
============================================================================= */

#w-listWin .files, #w-cardWin .files {
    display: flex;
    border-radius: 2px;
    border-top: 3px solid #ddd;
    background-color: #fafbfc;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.1);
}

#w-listWin h2, #w-cardWin h2, #w-editListWin h2, #w-editCardWin h2 {
    display: inline-block;
}

#w-listWin h2, #w-cardWin h2 {
    display: inline-block;
    margin-bottom: 8px;
}

#w-listWin #listWinDesc, #w-cardWin #cardWinDesc {
    line-height: 20px;
}

#w-listWin .listIcon, #w-cardWin .cardIcon, #w-editListWin .listIcon, #w-editCardWin .cardIcon {
    color: #616163;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
}

#listWinDesc, #cardWinDesc {
    max-width: 360px;
}

#listWinFilesSection, #cardWinFilesSection, #cardWinMembersSection {
    display: none;
}

#listWinFilesSection.active, #cardWinFilesSection.active, #cardWinMembersSection.active {
    display: block;
}


/* fileUploadBox
============================================================================= */

.fileUploadBox {
    width: 100%;
    border-radius: 2px;
}

.fileUploadBox.dragover {
    box-shadow: 0 0 4px 1px rgba(78,208,105,.5);
}

.fileUploadBox .files {
    display: flex;
    position: relative;
    min-height: 74px;
    padding: 8px 0 6px 8px;
    border: 1px solid #ccc;
    border-bottom: unset;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .1);
    overflow-x: auto;
}

.fileUploadBox .file {
    position: relative;
    cursor: default;
}

.fileUploadBox .file .cancelIcon {
    opacity: 0;
    position: absolute;
    font-size: 16px;
    color: #616163;
    transition: color .1s ease;
    left: calc(100% - 16px);
    bottom: calc(100% - 12px);
    cursor: pointer;
    transition: color .2s ease, opacity .2s ease;
}

.fileUploadBox .file:hover .cancelIcon, .fileUploadBox .file .cancelIcon.active {
    opacity: 1;
}

.fileUploadBox .file .cancelIcon:hover, .fileUploadBox .file .cancelIcon.active {
    color: #E84855;
}

.fileUploadBox .bottom {
    position: relative;
    min-height: 42px;
    background-color: #fafbfc;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px dashed #bbb;
    border-top: unset;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.fileUploadBox .bottom p {
    line-height: 14px;
    font-size: 12px;
    color: #616163;
    cursor: default;
    padding: 4px;
}

.fileUploadBox .bottom input {
    display: block;
    position: absolute;
    z-index: 100;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}

.fileUploadBoxErrorText {
    line-height: 14px;
    margin-top: 4px;
    font-size: 13px;
    letter-spacing: .15px;
    color: #E84855;
}

.modal .fileUploadBoxErrorText {
    position: relative;
    bottom: 8px;
}


/* modals
============================================================================= */

/* collabs win */

#collabsSection {
    padding: 0 16px;
}

#collabsSection .collab {
    display: grid;
    grid-template-columns: 16px auto;
    column-gap: 8px;
    align-items: center;
}

#collabsSection .collab a {
    display: grid;
    grid-template-columns: 28px auto;
    column-gap: 8px;
    align-items: center;
    color: var(--dim-grey);
    padding: 8px 4px;
    transition: background-color .2s ease, opacity .2s ease;
    border-bottom: 1px solid #f5f5f5;
    overflow: auto;
}

#collabsSection .collab:first-child a {
    border-top: 1px solid #f5f5f5;
}

#collabsSection .collab a:hover {
    background-color: #f5f5f5;
}

#collabsSection .collab a img {
    width: 28px;
    border-radius: 50%;
}

#collabsSection .collab a div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
}

#collabsSection .collab label {
    padding: 3px 5px;
    background-color: var(--red);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#collabsSection .collab label.admin {
    background-color: var(--yellow);
}

#collabsSection .collab label.access-only {
    background-color: var(--green);
}

/* history win */

#w-historyWin .tableWrapper {
    max-height: 512px;
    overflow: auto;
    box-shadow: 0 0 3px 0px rgba(20, 20, 20, .1);
}

#w-historyWin table {
    border: 1px solid #e1e4e8;
    border-collapse: collapse;
    width: 100%;
}

#w-historyWin thead tr th {
    padding: 6px;
    font-weight: 400;
    font-size: 16px;
    background-color: #fafbfc;
}

#w-historyWin tr {
    transition: background-color .2s ease;
}

#w-historyWin tr:hover {
    background-color: #f2f2f3;
}

#w-historyWin td, #w-historyWin th {
    border: 1px solid #e1e4e8;
    padding: 5px;
    vertical-align: top;
}

#w-historyWin td:first-child, #w-historyWin th:first-child {
    width: 30%;
}

#w-historyWin td:last-child, #w-historyWin th:last-child {
    width: 70%;
}

#w-historyWin table ul li {
    list-style: disc;
    margin-left: 16px;
}

/* warning section */

.warning {
    border-radius: 6px; 
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    padding: 12px;
}


/* small modals
============================================================================= */

.modal.small {
    min-width: 100px;
    max-width: 300px;
    min-height: 100px;
    top: 20px;
    right: 20px;
}

.modal.small .query section {
    display: grid;
    grid-template-columns: auto 120px;
    align-items: center;
    column-gap: 10px;
    margin: 10px 0;
}

.modal.small .query p {
    white-space: nowrap;
}

.modal.small .query .inputContainer {
    margin: 10px 0;
}

.modal.small .query section .inputContainer {
    margin: 0;
}


/* main media queries
============================================================================= */

@media (max-width: 500px) {
    body > section, #top > section, #content > section {
        padding: 12px;
    }

    #menuBar {
        padding: 0 12px;
    }

    #menuBar .menu {
        margin-right: 8px;
    }

    #menuBar .menu, #menuBar .subMenu {
        position: static;
    }

    #menuBar .menu > ul {
        top: calc(100% + 8px);
        left: 16px;
        min-width: 32px;
        min-height: 64px;
    }

    #menuBar .menu ul li:not(.menu-linkBtn), #menuBar li.menu-linkBtn a {
        padding: 4px 6px;
        font-size: 13px;
    }

    #listsContainer {
        padding: 16px 12px 32px 12px !important;
    }
    
    .list {
        width: 280px;
    }
}

@media (max-width: 400px) {
    .list {
        width: 240px;
    }
}
